/*main-src.css Simon Game*/
body{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Arial', cursive;
}
h1{
  text-align: center;
  font-size: 60px;
}
h2{
  text-align: center;
  font-size: 30px;
}
.container{
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 28px #333;
  -moz-box-shadow: 10px 10px 28px #333;
  box-shadow: 10px 10px 28px #333;
  background: black;
}
.hull{
  text-align: center;
  padding:3px;
  height:300px;
  width:300px;
  border-radius: 50%;
  background: #333;
}
/*.button::after{
  content:'';
  position:relative;
  top:60px;
  left:-10px;
  box-shadow:10px 10px 40px 10px rgba(54,54,54,0.9);
}*/
.button{
  display: inline-block;
  height:148px;
  width:148px;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  /*box-shadow: inset 0px 0px 40px 10px rgba(150,54,54,0.65);*/
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.7);
}
.green{
  background: #6b6;
  cursor: pointer;
  border-top-left-radius: 100%;
}
.green:active{
  background: #8b8!important;
  box-shadow: inset 0px 0px 50px 1px rgba(54,70,54,0.70);
}
.red{
  cursor: pointer;
  background:#f66;
  border-top-right-radius: 100%;
}
.red:active{
  background: #f88!important;
  box-shadow: inset 0px 0px 50px 1px rgba(70,54,54,0.70);
}
.bluu{
cursor: pointer;
background:#66b;
border-bottom-right-radius: 100%;
}
.bluu:active{
  background: #88b!important;
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,70,0.70);
}
.yellow{
  background: #ff6;
 cursor: pointer;
 border-bottom-left-radius: 100%;
}
.yellow:active{
  background: #ffa!important;
  box-shadow: inset 0px 0px 50px 1px rgba(70,70,54,0.70);
}
.operation_area{
  float: left;
  position: absolute;
  top:280px;
  margin-left:77px;
  height:150px;
  width:150px;
  border-radius: 50%;
  background: radial-gradient(#888,#888,#888,#888,#000,#000);
  box-shadow: 0px 0px 10px 4px rgba(54,54,54,0.2);
}
.active_display::after{
  content:'';
  position:relative;
  top:-60px;
  left:-20px;
  box-shadow:0px 0px 60px 30px rgba(255,54,54,0.5);
}
.on{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 60px;
  height:30px;
  width:30px;
  font-size: 10px;
  padding-top:0px;
  line-height:18px;
  border-radius: 50%;
  border: 2px inset #666;
  background: radial-gradient(#fdd,#fdd,#f00);
}
.on:active{
  background: radial-gradient(#f88,#f66,#f00);
}
.score{
  /*visibility: hidden;*/
  display: inline-block;
  text-align: center;
  border: 2px inset #666;
  background-color: #511;
  height:50px;
  width:60px;
  color:#f55;
  font-size:40px;
}
.strict{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height:30px;
  width:30px;
  border: 2px inset #666;
  border-radius: 50%;
  font-size: 10px;
  padding-top:0px;
  line-height:18px;
  background: radial-gradient(#ddf,#ddf,#00f);
}
.strictmodeactive{
  background: radial-gradient(#dfd,#dfd,#0f0);
}
.strict:active{
  background: radial-gradient(#88f,#66f,#00f);
}
.on p{
  margin-top:5px;
}
.strict p{
  margin-top:5px;
}
.power{
  display: inline-block;
  text-align: center;
  height:28px;
  width:50px;
  border-radius:30px;
  font-size: 10px;
  margin-top:5px;
  line-height:18px;
  background: #666;
  border: 2px inset #666;
  /*background: radial-gradient(#ddf,#ddf,#00f);*/
}
.pslide{
  text-align: center;
  margin-top:1px;
  padding-bottom:-4px;
  height:26px;
  width:26px;
  border-radius:27px;
  font-size: 10px;
  background:radial-gradient(#888,#888,#fff);
}
.greeninit{
  background: #cfc!important;
  box-shadow: inset -5px -5px 30px 30px rgba(54,255,54,0.8);
}
.redinit{
  background: #fcc!important;
  box-shadow: inset 5px -5px 30px 30px rgba(255,100,100,0.8);
}
.bluuinit{
  background: #ccf!important;
  box-shadow: inset -5px -5px 30px 30px rgba(100,100,255,0.8);
}
.yellowinit{
  background: #ffc!important;
  box-shadow: inset -5px 5px 30px 30px rgba(255,255,54,0.8);
}
@media only screen and (max-width:400px){
  h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Arial', cursive;
  }
  h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', cursive;
  }
  .operation_area{
    float: left;
    position: absolute;
    top:210px;
    margin-left:77px;
    height:150px;
    width:150px;
    border-radius: 50%;
    background: radial-gradient(#888,#888,#888,#888,#000,#000);
    box-shadow: 0px 0px 10px 4px rgba(54,54,54,0.2);
  }
}
