/*main-src.css Simon Game*/
body{
  -moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Arial', cursive;
}
h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Arial', cursive;
}
.container{
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 28px #333;
  -moz-box-shadow: 10px 10px 28px #333;
  box-shadow: 10px 10px 28px #333;
  background: black;
}
.hull{
  text-align: center;
  padding:6px;
  height:300px;
  width:300px;
  border-radius: 50%;
  background: #333;
}
/*.button::after{
  content:'';
  position:relative;
  top:60px;
  left:-10px;
  box-shadow:10px 10px 40px 10px rgba(54,54,54,0.9);
}*/
.button{
  display: inline-block;
  height:140px;
  width:140px;
}
.green{
  cursor: pointer;
  border-top-left-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  /*box-shadow: inset 0px 0px 40px 10px rgba(150,54,54,0.65);*/
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.7);
}
.green:active{
  background: #6b6!important;
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.70);
}
.red{
  cursor: pointer;
  border-top-right-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
  /*box-shadow: inset 0px 0px 40px 10px rgba(150,54,54,0.65);*/
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.7);

}
.red:active{
  background: #f66!important;
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.70);
}
.bluu{
  cursor: pointer;
background:#66b;
border-bottom-right-radius: 100%;
-webkit-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
/*box-shadow: inset 0px 0px 40px 10px rgba(150,54,54,0.65);*/
box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.7);
}
.bluu:active{
  background: #88b!important;
  box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.70);
}
.yellow{
cursor: pointer;
border-bottom-left-radius: 100%;
-webkit-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(54,54,54,0.7);
/*box-shadow: inset 0px 0px 40px 10px rgba(150,54,54,0.65);*/
box-shadow: inset 0px 0px 50px 1px rgba(54,54,54,0.7);
}
.yellow:active{
  background: #ff6!important;
  box-shadow: inset 0px 0px 50px 1px rgba(70,70,54,0.70);
}

.operation_area{
  float: left;
  position: absolute;
  top:253px;
  margin-left:74px;
  height:150px;
  width:150px;
  border-radius: 50%;
  background: radial-gradient(#888,#888,#888,#888,#000,#000);

  box-shadow: 0px 0px 10px 4px rgba(54,54,54,0.2);
}
.active_display::after{
  content:'';
  position:relative;
  top:-60px;
  left:-20px;
  box-shadow:0px 0px 60px 30px rgba(255,54,54,0.4);
}
.on{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 60px;
  height:30px;
  width:30px;
  font-size: 10px;
  padding-top:5px;
  line-height:18px;
  border-radius: 50%;
  background: radial-gradient(#fdd,#fdd,#f00);
}
.on:active{
  background: radial-gradient(#f88,#f66,#f00);
}
.score{
  /*visibility: hidden;*/
  display: inline-block;
  text-align: center;
  border: 2px solid #000;
  background-color: #511;
  height:50px;
  width:60px;
  color:#f55;
  font-size:40px;
}
.strict{
  display: inline-block;
  text-align: center;
  height:30px;
  width:30px;
  border-radius: 50%;
  font-size: 10px;
  padding-top:5px;
  line-height:18px;
  background: radial-gradient(#ddf,#ddf,#00f);
}
.strict:active{
  background: radial-gradient(#88f,#66f,#00f);
}
.power{
  display: inline-block;
  text-align: center;
  height:28px;
  width:50px;
  border-radius:30px;
  font-size: 10px;
  padding-top:5px;
  line-height:18px;
  background: #666;
  /*background: radial-gradient(#ddf,#ddf,#00f);*/
}
.pslide{
  text-align: center;
  margin-top:-4px;
  padding-bottom:-4px;
  height:26px;
  width:26px;
  border-radius:27px;
  font-size: 10px;
  background:radial-gradient(#888,#888,#fff);
}
.greeninit{
  background: #cfc!important;
  box-shadow: inset -5px -5px 30px 30px rgba(54,255,54,0.8);
}

.redinit{
  background: #fcc!important;
  box-shadow: inset 5px -5px 30px 30px rgba(255,100,100,0.8);
}

.bluuinit{
  background: #ccf!important;
  box-shadow: inset -5px -5px 30px 30px rgba(100,100,255,0.8);
}

.yellowinit{
  background: #ffc!important;
  box-shadow: inset -5px 5px 30px 30px rgba(255,255,54,0.8);
}
